# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*$py.class

# Fichiers compilés
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# ==============================
# Environnement virtuel
# ==============================
.venv/
venv/
env/
ENV/

# ==============================
# Variables d’environnement
# ==============================
.env
.env.*
!.env.example

# ==============================
# Logs
# ==============================
*.log

# ==============================
# IDE / éditeurs
# ==============================
.vscode/
.idea/
*.swp
*.swo

# ==============================
# OS
# ==============================
.DS_Store
Thumbs.db
